<app-navbar></app-navbar>
<form>
  Date:
  <input type='date'>
  <br/><br/>
  Surgery:
  <input type='text'>
  <br/><br/>
  Surgeon:
  <select>
    <option value='null'>Select an Option</option>
    <option value='white'>Dr. White</option>
    <option value='other'>Other</option>
  </select>
  <br/><br/>
  Hospital:
  <select>
    <option value='null'>Select an Option</option>
    <option value='Alameda'>Alameda</option>
    <option value='Highland'>Highland</option>
  </select>
  <br/><br/>
  Other Attending(s):
  <input type='text'>
  <br/><br/>
</form>